# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore uploads directory
uploads/

# Ignore model files if they are too large
carrotsAi.pt
yolov8s.pt

# Ignore system files
.DS_Store
Thumbs.db
